{
  "swagger" : "2.0",
  "info" : {
    "version" : "2022-11-30T11:53:54.000Z",
    "title" : "msil-common-sam-preprod-dms"
  },
  "host" : "apipreprod.developersinmarutisuzuki.in",
  "basePath" : "/dms",
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/api/common/msil/dms/am-list-by-name" : {
      "get" : {
        "description" : "Gets AmList for the given List Name",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "listName",
          "in" : "query",
          "description" : "Provide list name. Example: SERVICE_DOCUMENTS",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/am-list-description" : {
      "post" : {
        "description" : "Fetches list description",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "AMListDescription",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AMListDescription"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/appointment-booking" : {
      "post" : {
        "description" : "Books Service Appointment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "appointmentbook",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/appointmentbook"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "X-Frame-Options" : {
                "type" : "string"
              },
              "Strict-Transport-Security" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "X-Content-Type-Options" : {
                "type" : "string"
              },
              "Content-Security-Policy" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/appointment-booking-hyperlocal" : {
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "HyperLocal",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/HyperLocal"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/appointment-cancel-reasons" : {
      "get" : {
        "description" : "Gets the service appointment cancel reasons",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pmc",
          "in" : "query",
          "description" : "Enter the PMC. Example: 1",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "reasonType",
          "in" : "query",
          "description" : "Enter the reason type. Example: B",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "X-Frame-Options" : {
                "type" : "string"
              },
              "Strict-Transport-Security" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "X-Content-Type-Options" : {
                "type" : "string"
              },
              "Content-Security-Policy" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/appointment-remainder" : {
      "get" : {
        "description" : "Sends Service Appointment Remainders",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "source",
          "in" : "query",
          "description" : "Provide source. Example: MSILDM",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/assigned-enquiries/emp-data" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mspin",
          "in" : "query",
          "description" : "Enter the MSPIN. Example: 12345",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/cancel-appointment-booking" : {
      "delete" : {
        "description" : "Cancels the Booking Service Appointment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "dealerCode",
          "in" : "query",
          "description" : "Provide dealer code. Example: 10744",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "Provide user id. Example: vinod.OKF",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "appointmentNo",
          "in" : "query",
          "description" : "Provide booking appointment number to cancel. Example: SB22005900",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "locCd",
          "in" : "query",
          "description" : "Provide location code. Example: OKF",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "cancelReason",
          "in" : "query",
          "description" : "Provide reason for cancelling the appointment. Example: cancel",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "X-Frame-Options" : {
                "type" : "string"
              },
              "Strict-Transport-Security" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "X-Content-Type-Options" : {
                "type" : "string"
              },
              "Content-Security-Policy" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/dealer-master" : {
      "get" : {
        "description" : "Gets Dealer Data from AM_Dealer_Loc v1 (Version1)",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "outletCode",
          "in" : "query",
          "description" : "Provide the outlet code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dealerCategory",
          "in" : "query",
          "description" : "Provide the dealer category. Possible values are DDL for DEALER, DDT for DISTRIBUTOR, MAS for MASS, DMM for Maruti owned third party operated dealerships",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "outletType",
          "in" : "query",
          "description" : "Provide the outlet Type Possible values are P for Parent Outlet, O\tfor Outlet, S\tfor Service on Wheels, E for\tE-Outlet, R\tfor R-Outlet, M\tfor Maruti Authorized service station. Example: O",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "parentGrpCd",
          "in" : "query",
          "description" : "Provide the value for Parent Group Code. Example: VIPUL",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dealerMapCd",
          "in" : "query",
          "description" : "Provide the value for Dealer Map Code. Example: 11037",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "locCd",
          "in" : "query",
          "description" : "Provide the value for Location code. Example: FSM",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Provide the value for channel. Possible Values-  EXC' for NEXA, 'NRM' for ARENA, 'COM' for Commercial, 'MDS' for Maruti Driving School. Example: NRM",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "regionCd",
          "in" : "query",
          "description" : "Provide the value for Region Code. Example: C2",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mulDealerCode",
          "in" : "query",
          "description" : "Provide the mul code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "isCacheEnable",
          "in" : "query",
          "description" : "Provide the value. Example: true",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "cityCd",
          "in" : "query",
          "description" : "Provide the value for city code. Example: 056",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Provide the type. Possible values are Possible Values S for\tSales Dealer, 2S for\tService Spares, 3S for\tSales Service , M for\tMaruti Authorized service station, TV for\tTrue Value Example: S",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "mosCategory",
          "in" : "query",
          "description" : "Provide the mos category. Possible values are M for MOS Dealers, N for NON MOS DEALERS",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dealerName",
          "in" : "query",
          "description" : "Provide the Dealer Name. Atleast 3 characters to be entered and it will search the dealership whose name starts with given name. Example: vipul",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "forCode",
          "in" : "query",
          "description" : "Provide the for code",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "principalMapCode",
          "in" : "query",
          "description" : "Provide the Principal Map Code. Example: 1",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "stateCd",
          "in" : "query",
          "description" : "Provide the value for State Code. Example: RJ",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/dealer-only-cities" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "stateCode",
          "in" : "query",
          "description" : "Enter state code. Example: HR",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "zoneCode",
          "in" : "query",
          "description" : "Enter zone Code. Example: N",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "regionCode",
          "in" : "query",
          "description" : "Enter Region Code. Example: N1",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dealerType",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "channel",
          "in" : "query",
          "description" : "Enter channel. Example: NRM",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "principalMapCode",
          "in" : "query",
          "description" : "Enter principal map code. Example: 1",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Cache-Control" : {
                "type" : "string"
              },
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Surrogate-Control" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/designation-channel-list" : {
      "get" : {
        "description" : "Fetches employee Channels",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/designation-list" : {
      "get" : {
        "description" : "Fetches all employee designations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/designation-lob-list" : {
      "get" : {
        "description" : "Fetches Employee LOBs",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/distinct-dealer-data" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "mspin",
          "in" : "query",
          "description" : "Enter the value for mspin. Example : 155552",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "parentGrp",
          "in" : "query",
          "description" : "Enter the value for parentGrp. Example : MAGIC",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated token",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dealerMapCd",
          "in" : "query",
          "description" : "Enter the value for dealerMapCode. Example : 10012",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "locCd",
          "in" : "query",
          "description" : "Enter the value for locCd. Example : SPR",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "content-type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/distributor-dealer-emp-data" : {
      "post" : {
        "description" : "Get Dealer and Distributor Employee Detail",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "DistributorDealerEmpDataRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/DistributorDealerEmpDataRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/driverslist" : {
      "get" : {
        "description" : "Gets the list of drivers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "isCacheEnable",
          "in" : "query",
          "description" : "Provide cache enabled or not. Example: true",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dealerMapCd",
          "in" : "query",
          "description" : "Provide dealer map code. Example: 13440",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "locCd",
          "in" : "query",
          "description" : "Provide location code. Example: NUA",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/emp-data-by-mspin" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "pmc",
          "in" : "query",
          "description" : "Enter the value for pmc. Example : 1",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "mspin",
          "in" : "query",
          "description" : "Enter the value for mspin. Example : 784227",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "content-type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated token",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/get-dealer-emp-details" : {
      "get" : {
        "description" : "Fetches details of DEALER and MARUTI contacts of a Dealership",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "desgChannel",
          "in" : "query",
          "description" : "Provide the value for Designation Channel. Example: NEXA",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "forCd",
          "in" : "query",
          "description" : "Provide the value for For Code . Example: 53",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mulDealerCd",
          "in" : "query",
          "description" : "Provide the value for Mul Dealer Code . Example: 5303",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "lob",
          "in" : "query",
          "description" : "Provide the value for Line of Business(comma separated) . Example: SERVICE",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "outletCd",
          "in" : "query",
          "description" : "Provide the value for Outlet Code. Example: 01",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dealerLocCd",
          "in" : "query",
          "description" : "Provide the value for Dealer Location Code. Example: ABR",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "contactType",
          "in" : "query",
          "description" : "Provide the value for Contact Type(Dealer or MSIL). Example: MSIL",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dealerMapCd",
          "in" : "query",
          "description" : "Provide the value for Dealer Map Code. Example: 10043",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "desgCds",
          "in" : "query",
          "description" : "Provide the value for Designation codes(comma separated). Example: TSM",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/get-employees-details" : {
      "get" : {
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "regionCd",
          "in" : "query",
          "description" : "Enter the value for regionCd. Example : C4",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "lob",
          "in" : "query",
          "description" : "Enter the value for lob. Example : service,sales",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "channelCd",
          "in" : "query",
          "description" : "Enter the value for channelCd. Example : ARENA,NEXA",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "designationCd",
          "in" : "query",
          "description" : "Enter the value for designationCd. Example : DPM,CH",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated token",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "contactType",
          "in" : "query",
          "description" : "Enter the value for contactType. Example : MSIL/DEALER",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "content-type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/gm-eclr-list" : {
      "get" : {
        "description" : "Gets All gm-eclr-list",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/gm-emp/fetch-by-query" : {
      "post" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "FetchByQuery",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/FetchByQuery"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/gm-mod-list" : {
      "get" : {
        "description" : "Gets all gm-mod-list",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              },
              "Access-Control-Allow-Methods" : {
                "type" : "string"
              },
              "Access-Control-Allow-Headers" : {
                "type" : "string"
              }
            }
          }
        }
      }
    },
    "/v1/api/common/msil/dms/gm-var-eclr-list" : {
      "get" : {
        "description" : "Gets variant color description for GM_VAR_ECLR master data",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "varCd",
          "in" : "query",
          "description" : "Enter the Variant Code. Example: ER4CS3",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Enter the x-api-key provided in the My Application page.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "make",
          "in" : "query",
          "description" : "Enter the Make Code, only M is supported. Example: M ",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Enter the Generated Token.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Accepts application/json",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "pmc",
          "in" : "query",
          "description" : "Enter the Principal Map Code. Example: 1",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "modelCd",
          "in" : "query",
          "description" : "Enter the Model Code. Example: C",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "201" : {
            "description" : "201 response",
            "schema" : {
              "$ref" : "#/definitions/Success"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "400" : {
            "description" : "400 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "500" : {
            "description" : "500 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "401" : {
            "description" : "401 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "403" : {
            "description" : "403 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          },
          "404" : {
            "description" : "404 response",
            "schema" : {
              "$ref" : "#/definitions/Error"
            },
            "headers" : {
              "Access-Control-Allow-Origin" : {
                "type" : "string"
              }
            }
          }
        },
        "security" : [ {
          "CommonAuthorizerLambdaSAM" : [ ]
        }, {
          "api_key" : [ ]
        } ]
      },
      "options" : {
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "200 response",
            "schema" : {
              "$ref" : "#/definitions/Empty"
            },
            "headers" : {
[...]
